
.layout-default__header {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.layout-default__logo  {
    font-size: 40px;
    font-weight: bold;
    color:  purple;
}

.layout-default .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.layout-default .menu ul li {
    margin: 0 15px;
}

.layout-default .menu ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}


.layout-default .menu ul li a:hover {
    color: #333;
}

.layout-default__account a {
    margin-left: 15px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}



.layout-default__main {
    padding: 0px;
    min-height: 100vh;
    background-color: #E1CDDE;
}

.layout-default__footer {
    background: purple;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
}